

#eagle {
    position: absolute;
    top: -1700px;
    left: 0;
}

#words {
    position: absolute;
    left: 550px; 
    width: 32rem;
}

fieldset {
    display: flex;
    flex-direction: column;
    position: relative;
    left: -200px;
    border: 0;
}

label {
  display: flex;
  
  text-align: right;
  width: 250px;
}

form {
    display: flex;
    position: absolute;
    right: -230px;
    margin-right: 0;
}

body {
    overflow: hidden;
}

button {
    position: absolute;
    bottom: -40px;
    margin: 0;
    height: 30px;
    width: 150px;
    background-color: rgb(42, 31, 197);
    color: white;
    border-radius: 8px;
}

p {
position: absolute;
bottom: -70px;
margin: 0;
}